header{background-image: url(/portfolio_2/image/header-bg.jpg)}


ul{list-style:none ;}
.projet li{display: inline;
            margin: 10px;     }

body{background-image: url(https://www.hornbach.ch/data/shop/D04/001/780/491/235/905/DV_8_6489391_01_4c_DE_20170919221319.jpg)}
p{color:rgb(248, 58, 11)}
h3{color: rgb(248, 58, 11);}
h5{color:rgb(248, 58, 11);
}

.bacground2{background-image: url(https://thumbs.werkaandemuur.nl/1/92a3e836396b9780f4884a077278b8ac/817x600/thumbnail/fit.jpg)}

