header{
    background-color:#1569b2;
    position: relative;
}
.bCyan{
    background-color:#1569b2;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 285px;
    width: 1180px;
    z-index: 10;
   
}
.cyan{
    color: #0c99c8;
}

.content{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
h1{
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-left: 38px;
}

h2{
    color:#084270;
    font-size:20px;
    margin-top:35px;
}

h3{
    font-size: 17px;
    color: #fff;
}

.pStyl{
    color:#8d8d8d;
    font-size: 14px;
}

.pHeader{
    padding: 10px;
    margin-left: 300px;
}

.pHeader > i {
    margin-left: 20px;
    font-size: 25px;
}

nav.menu {
    background-color: #003664;
    height: 80px;
    position: relative;
}

nav.menu div.container{
    position: relative;
    z-index: 99;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
    color:#fff;
    padding: 10px;
}
nav ul li > a{
    color:#fff;
}
.lshop {
    margin-top: 15px;
    /*position: fixed;*/
    z-index: 99;

}
.lshop li {
    background-color: #04264c;
    height: 100px;
    margin-right: 8px;
    border-radius: 5px;
}
.lshop li:hover {
    background-color: #0c99c8;
}

.lshop li > a{
    display: block;
    height: 100px;

}
.lshop li > a:hover{
        text-decoration: none;
        color: white;
}

.lshop > li:nth-child(3) > a:nth-child(1){
    width: 100px;
}
.lshop li:first-child{
    margin-right: 0;
}
.lAccount {
    margin-right: 100px;
  
}

.lAccount li > a{
    font-size: 12px;
}
.lAccount li > a:hover{
    text-decoration: none;
    color: white;
}

ul li {
    list-style: none;
}

.btn-green{
    background-color: #b2cd1d;
    
}

.btn-cyan{
    background-color: #0c99c8;
    color: #000 !important;
}

a{
    color: #fff;
}

.btn{
    color: #fff;
}

.register {
    margin-left: 280px;
    padding-top: 10px;
    display: flex;
   }

.register li:last-child{
margin-left: 25px;
}

div.container:nth-child(3) > div:nth-child(1) > div:nth-child(1) > p:nth-child(1){
    text-align: right;
    padding-top: 10px;
    color: #fff;
}


.loc{
    display: flex;
    background-color: #003663;
    color: #fff;
    width: 1180px;
    border-radius: 5px;
    position: relative;
    left: -100px;
    /*top:440px;*/
    margin-top: 440px;
}

.loc p, .loc form{
    padding: 15px;
    margin-left: 25px;
  
}

.badge-secondary{
    color: #0c99c8;
    background-color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 40px;
    padding-top: 6px;
    
}

.loc form select{
width: 200px;
background-color: #fff;
}

.btn-group-vertical button{
    margin-bottom: 10px;
    border-radius: 5px !important;
    left:-116px;
}

.btn-group-vertical{
   margin-top: 35px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fbffe2;
}

.table td {
    border-top: none;
}

.iLink{
    color:#a3ac69;
}

.lGray{
    color:#b8b8b8;
}

.table > tbody:nth-child(1) > tr > td:nth-child(2){
    font-size: 13px;
}

.table > tbody:nth-child(1) > tr > td:nth-child(3){
    font-size: 13px;
}

.content{
    margin-top: 34px;
    margin-left:-255px;
}

.lFont{
    font-size:13px;
}

table:last-child.table-striped tbody tr:nth-of-type(odd) {
    background-color: #def3f8;
}
table.table:nth-child(7) > tbody:nth-child(1) > tr:nth-child(7){
    border: solid 1px rgb(207, 207, 207);
}

table.table:nth-child(7) > tbody:nth-child(1) > tr:nth-child(9){
    border:solid 1px rgb(207, 207, 207);
}

.colorL{
    color: #3299de;
}

footer{
    
    background-color: #003664;
    
}

.foot{
    margin-left:215px ;
}

ul{
    margin-top:40px;
}

.colorF{
   color: black;
}

ul li > a{
    color:#0099af;
    font-style: italic;
}

.parF{
    font-size:13px;
    width: 680px;
    color: #1e5482;
    margin-left: 268px;
    margin-top:22px;
}

div.container:nth-child(3):hover{
background-color: #0c99c7;
}

iframe{
    width: 100%;
    position: absolute;
    float: left;
    z-index: 0;
}